body
{
    color:rgba(187, 53, 53, 0.856);
    text-align: center;
    font-family: Arial ;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

#cabecera
{
    background: cornflowerblue;
    box-shadow: 0px 3px 3px 0px rgb(48, 45, 45);
    color: #ddd;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
}

#cabecera #tagline
{
    padding: 0 0 0 1em ;
    font-weight: normal;
    font-size: 0.8em;
}

#container
{
    width: 70%;
    padding: 0;
    text-align: left;
    border: 1px solid #ddd;
    margin: 0 auto;
}

#container h1
{
    font-size: 20px;
    text-align: center;
}